.user-name{
  margin-top:1%;
}
.user-name a{
    color:#333;
}
.btn{
    color:#fff!important;
    margin-top:4%;
    
}
.btn-danger:hover, .btn-danger:focus{
    background-color:darken(#d9534f, 20%)!important;
}

.btn-primary:hover, .btn-primary:focus{
    background-color:darken(#428bca, 20%)!important;
}
.style-user{
    padding-right:5%;
    color:#333;
}

.btn-xs{
   text-align:center!important; 
}